name: Update schema.json file

on:
  schedule:
    - cron: '0 2 * * *'
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      branch:
        type: choice
        description: 'Branch to deploy'
        required: true
        default: 'develop'
        options:
          - 'develop'
          - 'stable'



concurrency:
  group: "update schema"
  cancel-in-progress: false


jobs:
  update-schema:
    name: Update schema.json file
    runs-on: ubuntu-latest
    outputs:
      changes_detected: ${{ steps.auto-commit-action.outputs.changes_detected }}
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          # stefanzweifel/git-auto-commit-action requires persist-credentials to be true
          persist-credentials: true
          path: 'config_schema'

      - name: Checkout freqtrade repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
          repository: freqtrade/freqtrade
          path: 'freqtrade'
          ref: "develop"

      - name: Copy schema_dev.json file from freqtrade repo to config_schema
        if : (github.event_name != 'workflow_dispatch' || github.event.inputs.branch == 'develop')
        run: |
          cp freqtrade/build_helpers/schema.json config_schema/schema/schema_dev.json

      - name: Checkout freqtrade repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
          repository: freqtrade/freqtrade
          path: 'freqtrade'
          ref: "stable"

      - name: Copy schema.json file from freqtrade repo to config_schema
        if : (github.event_name != 'workflow_dispatch' || github.event.inputs.branch == 'stable')
        run: |
          cp freqtrade/build_helpers/schema.json config_schema/schema/schema.json

      - uses: stefanzweifel/git-auto-commit-action@04702edda442b2e678b25b537cec683a1493fcb9 # v7.1.0
        id: auto-commit-action
        with:
          commit_message: "Update schema.json file ${{ github.event.inputs.branch }}"
          commit_user_name: Freqtrade Bot <freqtrade@protonmail.com>
          commit_user_email: freqtrade@protonmail.com
          file_pattern: 'schema/*.json'
          repository: "config_schema"

  deploy-to-gha:
    needs: [ update-schema ]
    if: needs.update-schema.outputs.changes_detected == 'true'
    permissions:
      contents: read
      pages: write
      id-token: write
    uses: ./.github/workflows/schema_deploy.yml


